<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>15839972586-v96qfgfr97lq6avgsbeg00oi4l9ulmq2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.15839972586-v96qfgfr97lq6avgsbeg00oi4l9ulmq2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>15839972586-6id93inbletkluctek97j8ddpo8svtg3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAD6nxAHweq0zMBZkI5bcUWJI0k3fLLhVk</string>
	<key>GCM_SENDER_ID</key>
	<string>15839972586</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dowell.dowellmaps</string>
	<key>PROJECT_ID</key>
	<string>livinglabmaps-98809</string>
	<key>STORAGE_BUCKET</key>
	<string>livinglabmaps-98809.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:15839972586:ios:607f6e0d7bb9f8c7139b93</string>
</dict>
</plist>